header.custom-header.inner .menuicon-grid img {
  filter: invert(1);
}

header.custom-header.inner>.container .grid-header .logo-main a>img {
  filter: invert(1);
}

.contact-section {
  position: relative;
  padding: 280px 0 100px;
  overflow-x: hidden;
  background: #f7f7f7;
}

.main-title p {
  font-weight: 500;
}

.contact-section .fs-237 {
  color: #f2f2f2;
  position: absolute;
  top: 180px;
  white-space: nowrap;
  /* left: 50%;
  transform: translateX(-50%); */
}

.contact-section .fs-237 span {
  max-width: 240px;
}

.con-box {
  position: relative;
  z-index: 9;
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
}

.con-title {
  text-align: center;
  color: #070707;
  font-family: "Julius Sans One";
  font-size: var(--fs-40);
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 40px;
}

.c-group {
  margin-bottom: 20px;
}

.c-group label {
  display: block;
  color: #070707;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
}

.c-group input:not([type="checkbox"]),
.c-group textarea {
  border: 1px solid #666;
  width: 100%;
  height: 56px;
  color: #666;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 16px;
  outline: none;
  background: transparent;
}

.c-group textarea {
  height: 120px;
}

.c-group input[type="submit"] {
  margin-top: 20px;
  max-width: 220px;
  border: 1px solid #070707;
  height: 50px;
  color: #070707;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

.c-group input[type="submit"]:hover {
  color: #fff;
  background-color: #070707;
}

.contact-footer {
  background: #1a1a1a;
  padding: 140px 0;
}

.cf-box {
  text-align: center;
  max-width: 465px;
  width: 100%;
  margin: 0 auto 170px;
}

.cf-box .animted-btn {
  margin: 0 auto;
}

.cf-title {
  color: #f7f7f7;
  text-align: center;
  font-family: "Julius Sans One";
  font-size: var(--fs-40);
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 30px;
}

.cf-add {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  margin-bottom: 30px;
}

.cf-detail {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.cf-detail a {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.cf-detail {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 45px;
}

.cf-rights {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cf-rights p {
  max-width: 554px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.4s ease-in-out;
}

.cf-rights p a {
  color: rgba(255, 255, 255, 0.7);
}

.cf-rights p a:hover {
  color: #fff;
}

.contact-socials {
  list-style: none;
  display: flex;
  gap: 30px;
}

.contact-socials li {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.contact-socials li:hover {
  opacity: 1;
}

/* footer css start */

.footer-cotent {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  gap: 80px;
  padding-bottom: 65px;
}

.footer-cotent .cf-box {
  margin-left: 0px;
  /* margin-right: 0px; */
}

.footer-cotent .cf-box p,
.footer-cotent .cf-box .cf-title {
  text-align: left;
}

.footer-cotent .cf-box,
.footer-cotent .cf-box .animted-btn {
  margin: 0px;
}

.footer-cotent .cf-detail {
  justify-content: flex-start;
}

/* footer css end */

/* partners-section css start */
.partners-section {
  background: var(--Light-Grey-Ground, #f7f7f7);
  padding-top: 118px;
  padding-bottom: 134px;
}

.partners-title .four-zero {
  text-align: center;
  padding-bottom: 30px;
}

.partners-title p {
  max-width: 1055px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--Paragraph, #666);
  text-align: center;
  font-family: "Open Sans";
}

.partners-title {
  padding-bottom: 75px;
}

.parnter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* partners-section css end */
.project .container {
  position: relative;
  padding-top: 88px;
}

.project-title .detailer-title {
  color: var(--Heading, #070707);
  font-family: "Julius Sans One";
  margin-bottom: 10px;
}

.fs-233 {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 210px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 68.67% */
  letter-spacing: 72.23px;
  position: absolute;
  left: 0;
  top: 0;
}

.project {
  background: var(--Light-Grey-Ground, #f7f7f7);
  padding-top: 150px;
  padding-bottom: 92px;
}

.project-imges {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  grid-template-areas: "first first";
}

.project-imges a {
  position: relative;
}

.project-imges a::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.4);
  content: "";
  transition: 0.3s ease-in;
}

.project-imges a:first-child {
  grid-area: first;
}

.project-imges a:hover::after {
  background-color: rgb(0, 0, 0, 0.7);
}

.project .fs-237.media {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 233px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 68.67% */
  letter-spacing: 72.23px;
  opacity: 1;
}

.project .project-title {
  padding-bottom: 10px;
}

/* project page */

/* about us page css start */

.inner-hero-about {
  padding-top: 217px;
  background: #f7f7f7;
}

.about-img {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.full-content {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.main-content-about-us {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 95px;
}

.main-content-about-us.flex-end.for-bottom {
  max-width: 1265px;
}

.main-content-about-us .four-zero {
  max-width: 338px;
  width: 100%;
  padding-bottom: 23px;
}

.about-content {
  max-width: 50%;
  width: 100%;
}

.about-content p {
  color: var(--Paragraph, #666);

}

.homeabout-sec.about .about-title {
  max-width: 592px;
  margin: 0;
}

.homeabout-sec.about .grid-about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
}

.homeabout-sec.about .about-title .four-zero {
  max-width: 475px;
  width: 100%;
}

.inner-hero-about .container {
  position: relative;
}

.inner-hero-about .fs-237 {
    color: var(--Section, #f2f2f2);
    text-align: center;
    font-family: "Open Sans";
    font-size: 237px;
    font-style: normal;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: 184.86px;
    text-transform: uppercase;
    opacity: 1;
    left: 58%;
    transform: translate(-50%, -50%);
}
.content-about-us {
  position: relative;
}

.flex-end .full-content {
  justify-content: end;
}

.content-left {
  max-width: 50%;
  margin-left: auto;
}

.main-content-about-us.flex-end {
  padding-top: 95px;
}

.main-content-about-us.flex-end .four-zero {
  max-width: 500px;
  width: 100%;
}

.main-content-about-us.flex-end strong {
  color: var(--Heading, #070707);
  font-family: "Open Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 53px;
  /* 203.846% */
  display: block;
}

.fs-126.media {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 122px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 126.984% */
  letter-spacing: 23.94px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  top: 47px;
  justify-content: space-between;
}

p b {
  font-weight: 700;
  color: var(--Paragraph, #666);
}

.about-content h3 {
  padding-top: 56px;
  color: var(--Heading, #070707);
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 100% */
  margin-bottom: 10px;
}

.about-content b.name {
  color: var(--Heading, #070707);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 166.667% */
}

.fs-148.media {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 148px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 108.108% */
  letter-spacing: 28.12px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.07;
  justify-content: space-between;
  top: 82px;
}

/* about us css end */
/* our-process css start */
.our-process {
  background-color: #f7f7f7;
  padding: 78px 0px;
}

.our-process .container {
  position: relative;
  padding-top: 92px;
}

.our-process .fs-237.media {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 170px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 94.118% */
  letter-spacing: 42.5px;
  text-transform: uppercase;
  opacity: 1;
  justify-content: center;
}

.main-title {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.project-dreams {
  display: flex;
  justify-content: center;
  max-width: 1395px;
  margin: 0 auto;
  width: 1;
  padding-bottom: 60px;
  margin-left: 135px;
}

.dreams {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #fff;
  box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.25);
  max-width: 356px;
  height: 216px;
  width: 100%;
}

.project-dreams .dreams {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: -70px;
}

.project-dreams .dreams p {
  text-align: center;
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  margin-top: 13px;
}

.project-dreams .dreams h3 {
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 109.091% */
}

.project-dreams .dreams:nth-child(even) {
  margin-top: 185px;
  margin-left: -105px;
}

.full-content-process {
  max-width: 988px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 132px;
}

.full-content-process p {
  text-align: center;
}

.full-content-process b,
.full-content-process p b {
  color: #313131;
}

.fs-154.media {
  color: var(--Section, #f2f2f2);
  text-align: center;
  font-family: "Open Sans";
  font-size: 145px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px;
  /* 103.896% */
  letter-spacing: 29.26px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  justify-content: space-between;
}

.looking-data {
  display: flex;
  position: relative;
  gap: 90px;
  justify-content: center;
}

.content-looking {
  max-width: 545px;
  width: 100%;
}

.project-imges a .project-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 20px 40px 80px;
  opacity: 0;
  transition: 0.3s ease-in;
  z-index: 99;
}

.content-looking p {
  color: var(--Paragraph, #666);

}

.project-imges a:hover .project-title {
  opacity: 1;
}

.project-imges a .project-title p {
  padding: 0px;
  color: var(--Light-Grey-Ground, #f7f7f7);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Julius Sans One";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  /* 116.667% */
  max-width: 450px;
  width: 100%;
  z-index: 1;
  padding-bottom: 0px;
}

p {
  line-height: 29px;
}

.full-content.bottom .about-content {
  max-width: 44%;
  margin-left: auto;
}

/* our-process css end */

/* project page */
@media (max-width: 1800px) {
  .project .fs-237.media {
    font-size: 210px;
  }

  .inner-hero-about .fs-237 {
    font-size: 190px;
  }

  .main-content-about-us {
    padding-bottom: 30px;
  }

  .our-process .fs-237.media {
    font-size: 160px;
  }
}

@media (max-width: 1600px) {
  .contact-section .fs-237 span {
    max-width: 190px;
  }

  .contact-footer {
    padding: 100px 0;
  }

  .partners-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .partners-title .four-zero {
    padding-bottom: 20px;
  }

  .partners-title {
    padding-bottom: 50px;
  }

  .footer-cotent {
    gap: 60px;
  }

  .footer-cotent {
    padding-bottom: 50px;
  }

  .project {
    padding-bottom: 70px;
    padding-top: 120px;
  }

  .project .container {
    padding-top: 70px;
  }

  .project .fs-237.media {
    font-size: 170px;
  }

  .main-content-about-us {
    padding-bottom: 20px;
  }

  .main-content-about-us.flex-end {
    padding-top: 50px;
  }

  .fs-126.media {
    font-size: 85px;
    top: 20px;
  }

  .fs-148.media {
    font-size: 100px;
    top: 30px;
  }

  .main-content-about-us .four-zero {
    padding-bottom: 15px;
  }

  .about-content h3,
  .main-content-about-us.flex-end strong {
    font-size: 20px;
    line-height: 30px;
  }

  .about-content h3 {
    padding-top: 30px;
    margin-bottom: 5px;
  }

  .about-content b.name {
    font-size: 16px;
  }

    .inner-hero-about .fs-237 {
        font-size: 115px;
        letter-spacing: 143px;
    }
  .inner-hero-about {
    padding-top: 150px;
  }

  .our-process {
    padding: 60px 0px;
  }

  .our-process .container {
    padding-top: 70px;
  }

  .looking-data {
    gap: 70px;
  }

  .full-content-process {
    margin-bottom: 50px;
  }

  .our-process .fs-237.media {
    font-size: 115px;
  }

  .fs-154.media {
    font-size: 95px;
  }

  .main-title {
    margin-bottom: 50px;
  }

  .dreams {
    max-width: 300px;
    height: 185px;
  }

  .project-dreams .dreams:nth-child(even) {
    margin-top: 140px;
  }

  .project-dreams .dreams p {
    margin-top: 10px;
  }

  .project-dreams .dreams h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }

  .project-imges a .project-title p {
    font-size: 25px;
    line-height: 35px;
  }

  .homeabout-sec.about .grid-about {
    gap: 60px;
  }

  .project-dreams{
    margin-left: 0;
  }

}

@media (max-width: 1400px) {
  .contact-section .fs-237 span {
    max-width: 150px;
  }

  .contact-section .fs-237 {
    font-size: 150px;
    top: 100px;
  }

  .contact-section {
    padding: 200px 0 100px;
  }

  .cf-box {
    margin-bottom: 150px;
  }

  .cf-add,
  .cf-detail a {
    font-size: 18px;
  }

  .cf-rights p {
    font-size: 16px;
    max-width: 460px;
  }

  .partners-section {
    padding: 80px 0px;
  }

  .partners-title .four-zero {
    padding-bottom: 15px;
  }

  .partners-title {
    padding-bottom: 40px;
  }

  .footer-cotent {
    gap: 50px;
  }

  .footer-cotent {
    padding-bottom: 40px;
  }

  .project {
    padding-bottom: 50px;
    padding-top: 100px;
  }

  .project .container {
    padding-top: 60px;
  }

  .project .fs-237.media {
    font-size: 120px;
  }

  .inner-hero-about .fs-237 {
    font-size: 66px;
  }

  .main-content-about-us .four-zero {
    padding-bottom: 10px;
  }

  .fs-126.media {
    font-size: 76px;
    top: 0px;
  }

  .fs-148.media {
    font-size: 80px;
    top: 0px;
  }

  .inner-hero-about {
    padding-top: 100px;
  }

  .our-process {
    padding: 50px 0px;
  }

  .our-process .container {
    padding-top: 60px;
  }

  .looking-data {
    gap: 50px;
  }

  .full-content-process {
    margin-bottom: 30px;
  }

  .our-process .fs-237.media {
    font-size: 80px;
  }

  .fs-154.media {
    font-size: 70px;
  }

  .main-title {
    margin-bottom: 40px;
  }

  .project-dreams .dreams h3 {
    font-size: 18px;
  }

  .dreams {
    max-width: 274px;
    height: 173px;
  }

  .project-imges a .project-title p {
    font-size: 20px;
    line-height: 30px;
  }

  .homeabout-sec.about .grid-about {
    gap: 50px;
  }

  .project-imges a .project-title {
    padding: 0px 20px 20px 30px;
  }
  .project-dreams{
    padding-bottom: 40px;
  }
}

@media (max-width: 1199px) {
  .contact-section .fs-237 {
    font-size: 100px;
  }

  .contact-section .fs-237 span {
    max-width: 130px;
  }

  .partners-section {
    padding: 60px 0px;
  }

  .partners-title .four-zero {
    padding-bottom: 12px;
  }

  .partners-title {
    padding-bottom: 30px;
  }

  .footer-cotent {
    gap: 40px;
  }

  .footer-cotent {
    padding-bottom: 30px;
  }

  .project {
    padding-bottom: 40px;
  }

  .project .container {
    padding-top: 0px;
  }

  .project .project-title {
    padding-bottom: 0px;
  }

  .project {
    padding-top: 90px;
  }

  .fs-126.media,
  .fs-148.media {
    display: none;
  }

  .main-content-about-us .four-zero {
    max-width: 100%;
    padding-bottom: 10px;
  }

  .inner-hero-about {
    padding-top: 90px;
  }

  .about-content {
    max-width: 100%;
  }

  .full-content {
    flex-direction: column;
    gap: 0px;
  }

  .content-left {
    max-width: 100%;
  }

  .main-content-about-us.flex-end {
    padding-top: 15px;
  }

  .about-content h3 {
    padding-top: 5px;
  }

  .about-content h3,
  .main-content-about-us.flex-end strong {
    font-size: 18px;
  }

  .about-content b.name {
    font-size: 14px;
  }

  .our-process {
    padding: 40px 0px;
  }

  .our-process .container {
    padding-top: 0px;
  }

  .fs-154.media {
    display: none;
  }

  .looking-data {
    gap: 40px;
  }

  .full-content-process {
    margin-bottom: 60px;
  }

  .main-title {
    margin-bottom: 30px;
  }

  .project-dreams {
    flex-direction: column;
    gap: 15px;
  }

  .project-dreams .dreams:nth-child(even) {
    margin: 0px;
  }

  .project-dreams .dreams {
    margin-left: auto;
    max-width: 400px;
    height: auto;
    padding: 30px;
  }

  .project-dreams {
    margin-bottom: 30px;
    max-width: 620px;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
  }

  .project-imges a .project-title p {
    font-size: 18px;
    line-height: 26px;
  }

  .homeabout-sec.about .grid-about {
    gap: 40px;
  }

  .full-content.bottom .about-content {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .contact-section .fs-237 span {
    max-width: 100px;
  }

  .c-group input:not([type="checkbox"]) {
    height: 45px;
    line-height: 1;
  }

  .contact-section {
    padding: 160px 0 80px;
  }

  .contact-footer {
    padding: 80px 0;
  }

  .cf-add,
  .cf-detail a {
    font-size: 16px;
  }

  .cf-box {
    margin-bottom: 100px;
  }

  .cf-rights p {
    font-size: 14px;
  }

  .partners-section {
    padding: 50px 0px;
  }

  .partners-title {
    padding-bottom: 20px;
  }

  .footer-cotent {
    gap: 30px;
  }

  .project {
    padding-bottom: 30px;
  }

  .project .project-title .four-zero {
    padding-bottom: 10px;
  }

  .about-content h3,
  .main-content-about-us.flex-end strong {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .looking-data {
    gap: 10px;
    flex-direction: column;
  }

  .full-content-process {
    margin-bottom: 20px;
  }

  .content-looking {
    max-width: 100%;
  }

  .main-title {
    margin-bottom: 20px;
  }

  .project-imges a .project-title {
    max-width: 100%;
    width: 100%;
  }

  .project-imges a .project-title p {
    font-size: 16px;
    line-height: 24px;
  }

  .project-imges a .project-title {
    opacity: 1;
  }

  .project-imges a::after {
    background-color: rgb(0, 0, 0, 0.7);
  }

  .homeabout-sec.about .grid-about {
    gap: 20px;
    flex-direction: column;
  }

  .homeabout-sec.about .about-title {
    max-width: 100%;
  }

  .homeabout-sec.about .about-title {
    padding-top: 20px;
  }

  .project-imges a .project-title {
    padding: 0px 20px 20px 20px;
  }
}

@media (max-width: 767px) {
  .contact-section .fs-237 {
    font-size: 50px;
  }

  .contact-section .fs-237 span {
    max-width: 60px;
  }

  .contact-section {
    padding: 100px 0 60px;
  }

  .con-title {
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .c-group input[type="submit"] {
    margin-top: 0;
  }

  .contact-footer {
    padding: 60px 0;
  }

  .cf-box {
    margin-bottom: 80px;
  }

  .cf-rights {
    flex-direction: column-reverse;
  }

  .cf-rights p {
    text-align: center;
  }

  .partners-section {
    padding: 40px 0px;
  }

  .footer-img {
    max-width: 100%;
  }

  .footer-cotent {
    flex-direction: column;
    gap: 10px;
  }

  .main-title {
    margin-bottom: 10px;
  }

  .project-dreams .dreams {
    padding: 20px;
  }
}

@media (max-width: 575px) {
  .c-group label {
    font-size: 15px;
  }

  .contact-section .fs-237 span {
    max-width: 45px;
  }

  .cf-box {
    margin-bottom: 50px;
  }

  .cf-add,
  .cf-detail {
    margin-bottom: 20px;
  }

  .cf-detail {
    flex-wrap: wrap;
    gap: 10px;
  }

  .contact-footer {
    padding: 40px 0 20px;
  }

  .project-imges {
    display: flex;
    flex-direction: column;
  }

  .full-content-process {
    margin-bottom: 20px;
  }

  .project-dreams .dreams {
    padding: 15px;
    max-width: 100%;
  }
}